@charset "utf-8";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 900px;
}

.detail {
  gap: 3rem;
}

.detail > h1 {
}

.detail > p:nth-of-type(1) {
  margin-top: 1rem;
}

.detail > p:nth-of-type(2) {
  margin-top: 1rem;
}

.detail > p:nth-of-type(3) {
  margin-top: 1rem;
  color: rgb(155, 155, 155);
}

.detail p:nth-of-type(4) {
  text-align: left;
  width: 400px;
  margin-top: 1rem;
}

.book-img{
    width: 300px;
    height: 500px;
    position: relative;
    /* transform: rotateY(130deg); */
    transform-style: preserve-3d;
    transition: 0.5s;
}
.book-img.flipped{
    transform: rotateY(180deg);
    cursor: url(../images/arow-2.png), auto;
}
.book-img:not(.flipped):hover{
    transform: rotateY(30deg);
    cursor: url(../images/arow-2.png), auto;
}

.page{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.page > div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;

}
.front{
    background-image: url(../images/img-01.jpg);
    background-size: cover;
    transform: translateZ(35px);
}
.back{
    background-image: url(../images/img-03.jpg);
    background-size: cover;
    transform: translateZ(-35px) rotateY(180deg);
}
.side{
    background-image: url(../images/img-02.jpg);
    background-size: cover;
    width: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -35px;
    transform: rotateY(-90deg);
}

