@charset "utf-8";

:root{
    --main-color : rgb(34, 34, 34);
}
body{
  color: var(--main-color);
  margin: 0;
  padding: 0;
  font-family: 'Pretendard';
  font-weight: 500;
}


/* class */
.black {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  width: 100%;
}
.clear {
  border: 1px solid #222;
  color: #222;
  border-radius: 2rem;
  padding: 1rem 3rem;
  display: flex;
  gap: 0.5rem;
  border: solid 1px #222;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}


/* header 시작 영역*/

/*nav 시작 영역*/
header {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}
header > nav {
 padding: 1rem;
 width: 100%;
 display: flex;
 justify-content: space-between;
 background-color: #fff;
}
header > nav > div > img {
  width: 78px;
  height: 31px;
}
header > nav > ul  {
  display: flex;
  gap: 1rem;
}
header > nav > ul > li {
  /* background-color: aquamarine; */
  font-size: 1.5rem;
  text-align: center;
}

/* .main-banner 시작 영역*/

header > .main-banner {  
  width: 100%;
  border-radius: 2rem;
  background-color: #F6F6CD;
  padding: 3rem;  
}
header > .main-banner > p:nth-of-type(1) {
  font-size: 1.6rem; 
  font-weight: 700;
}
header > .main-banner>p:nth-of-type(2) {
  margin-top: 1rem;
  font-size: 1.1rem; 
  font-weight: 600; 
}
header > .main-banner > img {
  width: 300px;
  height: 300px; 
}
header > .main-banner div {
  display: flex;
  justify-content: center;
  align-items: center;
}
header > .main-banner > .container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
header > .main-banner > .container >.btn-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin: 0;
}
header > .main-banner > .container > .btn-wrap > .clear > img {
  color: var(--main-color);
}
header > .main-banner > .container > .number {
  letter-spacing: 0.4rem;
  margin-top: 4rem;
  display: flex;
  justify-content:left;
  width: 100%;
  gap: 1rem;
}
header > .main-banner > .container > .number >.number1 {
}

header > .main-banner > .container > .number >.number1 > p:nth-of-type(1) {
 margin-right: 0.5rem;
}

header > .main-banner > .container > .number >.number1 > span {
  width: 100px;
  border: solid 1px #222;
}
header > .main-banner > .container > .number > .number1 > p:nth-of-type(2) {
  margin-left: 0.5rem;
}
header > .main-banner > .container> .number >.number2 {
display: flex;
justify-content: center;
gap: 30px;
}
/* .main-banner 끝*/

/* section#digital 영역 시작*/

#digital {
  margin:3rem 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8rem;
}
#digital > .text1 > h2 {
  font-size: 1.1rem;
  color: #888;
}
#digital > .text1 > p {
  margin-top: 2rem;
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 800;
}

#digital > .text1 > p > img {
  width: 30px;
}

#digital > .text1 > p > img {
  width: 30px;
}
#digital > .text1 > .img1 {
  display: flex;
  justify-content: center;
}
#digital > .text1 > .img1 > img {
  width: 200px;
}

#digital > .text2 > h2 {
  font-size: 1.1rem;
  color: #888;
}
#digital > .text2 > p {
  margin-top: 2rem;
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 800;
}

#digital > .text2 > p > img {
  width: 30px;
}

#digital > .text2 > p > img {
  width: 30px;
}
#digital > .text2 > .img1 {
  display: flex;
  justify-content: center;
}
#digital > .text2 > .img1 > img {
  width: 200px;
}

/* section#digital 끝*/


/* section#change 시작*/

#change {
 display: flex;
 flex-direction: column;
 padding: 2rem;
 display: flex;
 justify-content: center;
 align-items: center;
 
}

#change > h1 {
    font-size: 2rem; 
    margin: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
}


#change > ul {
  max-width: 704px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* background-color: aquamarine; */
}


/* .card1 영역 시작 */
#change > ul > .card1 {
  flex: 1 1 20vw;
  min-width: 159px;
  min-height: 250px;
  background-color: #f7f8fd;
  border-radius: 1rem;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  flex-direction: column;
  overflow: hidden;
  /* position: relative; */
  padding: 1rem;
  /* transition: all 3s; */

}
#change > ul > .card1 > p:nth-child(1){
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
#change > ul > .card1 > p:nth-child(1) > span {
  font-size: 0.9rem;
  font-weight: 300;
}
#change > ul > .card1 > p:nth-child(2){
 font-size: 0.9rem;
 font-weight: 700;
 margin-bottom: 0.5rem;
}
#change > ul > .card1 > p:nth-child(3){
 font-size: 0.7rem;
 font-weight: 400;
 /* width: 40vw; */
 /* overflow: auto; */
}
#change > ul > .card1 > .img-icon {
  display: flex;
  justify-content:right;
  position: relative;
  width: 100px;
  height: 100px;
}
#change > ul > .card1 > .img-icon > img:nth-child(1){
 position: absolute;
 width: 100%;
 height: 100%;
 right: -60%;
 bottom: -50%;
}
#change > ul > .card1 > .img-icon > img:nth-child(2){
 position: absolute;
 width: 40%;
 height: 100%;
 right: -20%;
 bottom: -50%;
}
/* .card1 영역 끝 */
/* .card1 영역 시작 */
#change > ul > .card1 {
  flex: 1 1 20vw;
  min-width: 159px;
  min-height: 250px;
  background-color: #f7f8fd;
  border-radius: 1rem;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  flex-direction: column;
  overflow: hidden;
  /* position: relative; */
  padding: 1rem;
  /* transition: all 3s; */

}
#change > ul > .card1 > p:nth-child(1){
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
#change > ul > .card1 > p:nth-child(1) > span {
  font-size: 0.9rem;
  font-weight: 300;
}
#change > ul > .card1 > p:nth-child(2){
 font-size: 0.9rem;
 font-weight: 700;
 margin-bottom: 0.5rem;
}
#change > ul > .card1 > p:nth-child(3){
 font-size: 0.7rem;
 font-weight: 400;
 /* width: 40vw; */
 /* overflow: auto; */
}
#change > ul > .card1 > .img-icon {
  display: flex;
  justify-content:right;
  position: relative;
  width: 100px;
  height: 100px;
}
#change > ul > .card1 > .img-icon > img:nth-child(1){
 position: absolute;
 width: 100%;
 height: 100%;
 right: -60%;
 bottom: -50%;
}
#change > ul > .card1 > .img-icon > img:nth-child(2){
 position: absolute;
 width: 40%;
 height: 100%;
 right: -20%;
 bottom: -50%;
}
/* .card1 영역 끝 */
/* .card2 영역 시작 */
#change > ul > .card2 {
  flex: 1 1 20vw;
  min-width: 159px;
  min-height: 250px;
  background-color: #f7f8fd;
  border-radius: 1rem;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  flex-direction: column;
  overflow: hidden;
  /* position: relative; */
  padding: 1rem;
  /* transition: all 3s; */

}
#change > ul > .card2 > p:nth-child(1){
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
#change > ul > .card2 > p:nth-child(1) > span {
  font-size: 0.9rem;
  font-weight: 300;
}
#change > ul > .card2 > p:nth-child(2){
 font-size: 0.9rem;
 font-weight: 700;
 margin-bottom: 0.5rem;
}
#change > ul > .card2 > p:nth-child(3){
 font-size: 0.7rem;
 font-weight: 400;
 /* width: 40vw; */
 /* overflow: auto; */
}
#change > ul > .card2 > .img-icon {
  display: flex;
  justify-content:right;
  position: relative;
  width: 100px;
  height: 100px;
}
#change > ul > .card2 > .img-icon > img:nth-child(1){
 position: absolute;
 width: 100%;
 height: 100%;
 right: -60%;
 bottom: -50%;
}
#change > ul > .card2 > .img-icon > img:nth-child(2){
 position: absolute;
 width: 40%;
 height: 100%;
 right: -20%;
 bottom: -50%;
}
/* .card2 영역 끝 */
/* .card3 영역 시작 */
#change > ul > .card3 {
  flex: 1 1 20vw;
  min-width: 159px;
  min-height: 250px;
  background-color: #f7f8fd;
  border-radius: 1rem;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  flex-direction: column;
  overflow: hidden;
  /* position: relative; */
  padding: 1rem;
  /* transition: all 3s; */

}
#change > ul > .card3 > p:nth-child(1){
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
#change > ul > .card3 > p:nth-child(1) > span {
  font-size: 0.9rem;
  font-weight: 300;
}
#change > ul > .card3 > p:nth-child(2){
 font-size: 0.9rem;
 font-weight: 700;
 margin-bottom: 0.5rem;
}
#change > ul > .card3 > p:nth-child(3){
 font-size: 0.7rem;
 font-weight: 400;
 /* width: 40vw; */
 /* overflow: auto; */
}
#change > ul > .card3 > .img-icon {
  display: flex;
  justify-content:right;
  position: relative;
  width: 100px;
  height: 100px;
}
#change > ul > .card3 > .img-icon > img:nth-child(1){
 position: absolute;
 width: 100%;
 height: 100%;
 right: -60%;
 bottom: -50%;
}
#change > ul > .card3 > .img-icon > img:nth-child(2){
 position: absolute;
 width: 40%;
 height: 100%;
 right: -20%;
 bottom: -50%;
}
/* .card3 영역 끝 */
/* .card4 영역 시작 */
#change > ul > .card4 {
  flex: 1 1 20vw;
  min-width: 159px;
  min-height: 250px;
  background-color: #f7f8fd;
  border-radius: 1rem;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  flex-direction: column;
  overflow: hidden;
  /* position: relative; */
  padding: 1rem;
  /* transition: all 3s; */

}
#change > ul > .card4 > p:nth-child(1){
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
#change > ul > .card4 > p:nth-child(1) > span {
  font-size: 0.9rem;
  font-weight: 300;
}
#change > ul > .card4 > p:nth-child(2){
 font-size: 0.9rem;
 font-weight: 700;
 margin-bottom: 0.5rem;
}
#change > ul > .card4 > p:nth-child(3){
 font-size: 0.7rem;
 font-weight: 400;
 /* width: 40vw; */
 /* overflow: auto; */
}
#change > ul > .card4 > .img-icon {
  display: flex;
  justify-content:right;
  position: relative;
  width: 100px;
  height: 100px;
}
#change > ul > .card4 > .img-icon > img:nth-child(1){
 position: absolute;
 width: 100%;
 height: 100%;
 right: -60%;
 bottom: -50%;
}
#change > ul > .card4 > .img-icon > img:nth-child(2){
 position: absolute;
 width: 40%;
 height: 100%;
 right: -20%;
 bottom: -50%;
}
/* .card4 영역 끝 */
/* .card5 영역 시작 */
#change > ul > .card5 {
  flex: 1 1 20vw;
  min-width: 159px;
  min-height: 250px;
  background-color: #f7f8fd;
  border-radius: 1rem;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  flex-direction: column;
  overflow: hidden;
  /* position: relative; */
  padding: 1rem;
  /* transition: all 3s; */

}
#change > ul > .card5 > p:nth-child(1){
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
#change > ul > .card5 > p:nth-child(1) > span {
  font-size: 0.9rem;
  font-weight: 300;
}
#change > ul > .card5 > p:nth-child(2){
 font-size: 0.9rem;
 font-weight: 700;
 margin-bottom: 0.5rem;
}
#change > ul > .card5 > p:nth-child(3){
 font-size: 0.7rem;
 font-weight: 400;
 /* width: 40vw; */
 /* overflow: auto; */
}
#change > ul > .card5 > .img-icon {
  display: flex;
  justify-content:right;
  position: relative;
  width: 100px;
  height: 100px;
}
#change > ul > .card5 > .img-icon > img:nth-child(1){
 position: absolute;
 width: 100%;
 height: 100%;
 right: -60%;
 bottom: -50%;
}
#change > ul > .card5 > .img-icon > img:nth-child(2){
 position: absolute;
 width: 40%;
 height: 100%;
 right: -20%;
 bottom: -50%;
}
/* .card5 영역 끝 */
/* .card6 영역 시작 */
#change > ul > .card6 {
  flex: 1 1 20vw;
  min-width: 159px;
  min-height: 250px;
  background-color: #f7f8fd;
  border-radius: 1rem;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  flex-direction: column;
  overflow: hidden;
  /* position: relative; */
  padding: 1rem;
  /* transition: all 3s; */

}
#change > ul > .card6 > p:nth-child(1){
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
#change > ul > .card6 > p:nth-child(1) > span {
  font-size: 0.9rem;
  font-weight: 300;
}
#change > ul > .card6 > p:nth-child(2){
 font-size: 0.9rem;
 font-weight: 700;
 margin-bottom: 0.5rem;
}
#change > ul > .card6 > p:nth-child(3){
 font-size: 0.7rem;
 font-weight: 400;
 /* width: 40vw; */
 /* overflow: auto; */
}
#change > ul > .card6 > .img-icon {
  display: flex;
  justify-content:right;
  position: relative;
  width: 100px;
  height: 100px;
}
#change > ul > .card6 > .img-icon > img:nth-child(1){
 position: absolute;
 width: 100%;
 height: 100%;
 right: -60%;
 bottom: -50%;
}
#change > ul > .card6 > .img-icon > img:nth-child(2){
 position: absolute;
 width: 40%;
 height: 100%;
 right: -20%;
 bottom: -50%;
}
/* .card6 영역 끝 */

/* #banner-container 영역 끝*/
#banner-container {
margin: 2rem;
display: flex;
justify-content: center;
flex-direction: column;
/* background-color: aqua; */

}
#banner-container > h1 {
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}

/* .bn1 영역 시작 */
#banner-container > .banner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100;
  /* background-color: #F6F6CD; */
  align-items: center;
}
#banner-container > .banner > .bn1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;

} 
#banner-container > .banner > .bn1 > .box1 {
  background-image: url(../images/imgi_28_thumb_service01.png);
  background-size: cover;
  border-radius: 1rem;
  /* min-width: 326px;
  min-height: 202px;  */
  aspect-ratio: 326 / 202;
}
#banner-container > .banner > .bn1 > .text1 {
  display: flex;
  flex-direction: column;
}
#banner-container > .banner > .bn1 > .text1 > p:nth-child(1) {
  font-size: 1rem;
  color: #999999;
  font-weight: 700;
}
#banner-container > .banner > .bn1 > .text1 > p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 700;
}
/* .bn1 영역 끝 */
/* .bn2 영역 시작 */
#banner-container > .banner > .bn2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
} 
#banner-container > .banner > .bn2 > .box2 {
  background-image: url(../images/imgi_29_thumb_service02.png);
  background-size: cover;
  border-radius: 1rem;
  /* min-width: 326px;
  min-height: 202px; */
  aspect-ratio: 326 / 202;
}
#banner-container > .banner > .bn2 > .text2 {
  display: flex;
  flex-direction: column;
}
#banner-container > .banner > .bn2 > .text2 > p:nth-child(1) {
  font-size: 1rem;
  color: #999999;
   font-weight: 700;
}                 
#banner-container > .banner > .bn2 > .text2 > p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 700;
}
/* .bn2 영역 끝 */

/* .bn3 영역 시작 */
#banner-container > .banner > .bn3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
} 
#banner-container > .banner > .bn3 > .box3 {
  background-image: url(../images/imgi_30_thumb_service03.png);
  background-size: cover;
  border-radius: 1rem;
  /* min-width: 326px;
  min-height: 202px; */
  aspect-ratio: 326 / 202;
}
#banner-container > .banner > .bn3 > .text3 {
  display: flex;
  flex-direction: column;
}
#banner-container > .banner > .bn3 > .text3 > p:nth-child(1) {
  font-size: 1rem;
  color: #999999;
  font-weight: 700;
}
#banner-container > .banner > .bn3 > .text3 > p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 700;
}
/* .bn3 영역 끝 */
/* section#banner 영역 끝*/

/* section#ai 영역 시작 */
#ai {
  display: flex;
  flex-direction: column;
  background-color: #F1F2F6;
  width: 100%;
}
#ai > h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  width: 100%;
  padding: 0 4rem;
  padding-top: 4rem;
}
#ai > p {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0 2rem;
}
#ai > p > span {
  font-weight: 800;
}
#ai > .button-set {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem;
}
#ai > .button-set > p:nth-of-type(1) {
  background-color: var(--main-color);
  border-radius: 2rem;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
}
#ai > .button-set > p > img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: scale(0.5);
}
#ai > .button-set > p:nth-of-type(2) {
   background-color: var(--main-color);
   color: #fff;
   width: 207px;
   height: 48px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 2rem;
}
#ai > .img-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: aqua; */
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   overflow: hidden;
}
/* section#ai 영역 끝 */

/* section#since 영역 시작 */
#since {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
#since > .text-set {
  margin-top: 5rem;
}
#since > .text-set > p:nth-of-type(1) {
  font-size: 1.3rem;
  color: #888;
  font-weight: 600;
  text-align: center;
  margin-top: 2.5rem;
} 
#since > .text-set > h1 {
  text-align: center;
  padding: 1rem 3rem;
} 
#since > .text-set > P:nth-of-type(2) {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  padding: 0 2rem;
  margin-top: 0.5rem;
} 
#since > .button-detail {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
#since > .button-detail > p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 238px;
  height: 46px;
  border: solid 1px #222;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

#since > .year-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  overflow: hidden;
  /* background-color: aqua; */
}

#since > .year-container >.year1 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: aquamarine; */
  overflow: hidden;
  padding: 2rem;
  flex: 80;
}
#since > .year-container >.year1 > .year-box1 {
  margin-top: 1rem;
  background-color: antiquewhite;
  background-image: url(../images/imgi_38_2025.jpg);
  background-size: cover;
  border-radius: 1rem;
  padding: 2rem;
  width: 293px;
  height: 220px;
}
#since > .year-container > .year1 > .year-box1 > p {
  margin-top: 7rem;
  display: flex;
  justify-content: left;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  /* background-color: #999999; */
}

#since > .year-container >.year1 > .number {
  margin-top: 1rem;
  display: flex;
  justify-content: left;
  width: 100%;
  align-items: center;
}
#since > .year-container > .year1 > .number > p {
  font-size: 2rem;
  color: #b3b3b3;
  font-weight: 600;
}
#since > .year-container >.year1 > .number > .solid {
  border: solid 1px #b3b3b3;
  width: 100vw;
}

#since > .year-container >.year2 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: aquamarine; */
  overflow: hidden;
  padding: 2rem;
  flex: 1;
}
#since > .year-container >.year2 > .year-box1 {
  margin-top: 1rem;
  background-color: antiquewhite;
  background-image: url(../images/imgi_39_2023.jpg);
  background-size: cover;
  border-radius: 1rem;
  padding: 2rem;
  width: 293px;
  height: 220px;
}
#since > .year-container > .year2 > .year-box1 > p {
  margin-top: 7rem;
  display: flex;
  justify-content: left;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  /* background-color: #999999; */
}

#since > .year-container >.year2 > .number {
  margin-top: 1rem;
  display: flex;
  justify-content: left;
  width: 100%;
  align-items: center;
  gap: 1rem;
}
#since > .year-container > .year2 > .number > p {
  font-size: 2rem;
  color: #b3b3b3;
  font-weight: 600;
}
#since > .year-container >.year2 > .number > .solid {
  border: solid 1px #b3b3b3;
  width: 60%;
}
/* section#since 영역 끝 */

/* footer 영역 시작 */

footer {
  background-color: #272727;
  width: 100%;
  height: 100;
  display: flex;
  justify-content:left;
  align-content: center;
  color: #fff;
  flex-direction: column;
  padding: 2rem 1rem;
}
footer > h3 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
footer > .icon-set {
  display: flex;
  gap: 1rem;
  width: 100%;
}
footer > .icon-set > .set1 > img {
  width: 62px;
}
footer > .icon-set > .set2 > img {
  width: 132px;
}
footer > .icon-set > .set3 > img {
  width: 91px;
}
footer > .solid-hr {
  margin-top: 1rem;
  border-top: solid 1px #404040;
  margin-bottom: 1rem;
}
footer > .footer-site {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
footer > .footer-site > .box1 {
 display: flex;
 justify-content: space-between;
 border: solid 1px #404040;
 border-radius: 0.5rem;
 padding: 0.5rem;
 flex: 4;
}
footer > .footer-site > .box1 > p:nth-child(1) {
 font-size: 0.9rem;
 color: #f7f8fd;
 width: 50vw;
}

footer > .footer-site > .box1 > p:nth-child(2) {
  font-size: 1rem;
}
footer > .footer-site > .box2 {
 font-size: 0.8rem;
 background-color: #404040;
 display: flex;
 align-content: center;
 justify-content: center;
 width: 100%;
 border-radius: 0.5rem;
 flex: 1;
 padding: 0.5rem;
}
footer > .footer-site > .box2 > p:nth-child(1) {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 300;
}

footer > .footer-site > .box2 > p:nth-child(2) {

}
footer > .text-set{
  margin: 2rem 0;
  font-size: 0.8rem;
  font-weight: 300;
  color: #888;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-weight: 600;
}
/* footer 영역 끝 */












@media all and (max-width:1024px) {
  html {
  
  }

    
  }









